--
-- PostgreSQL database dump
--

\restrict gj6T3nRdsonIhnh3NHL00bmleNe9MnEDvMNodJLM6s9R3U0qpqdUPVOR7xgjAKB

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ModerationStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ModerationStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."ModerationStatus" OWNER TO postgres;

--
-- Name: StoryStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StoryStatus" AS ENUM (
    'DRAFT',
    'PUBLISHED'
);


ALTER TYPE public."StoryStatus" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'USER',
    'ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Bookmark; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Bookmark" (
    id text NOT NULL,
    "storyId" text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Bookmark" OWNER TO postgres;

--
-- Name: Comment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Comment" (
    id text NOT NULL,
    "storyId" text NOT NULL,
    "userId" text NOT NULL,
    content text NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "moderationNote" text,
    "moderatedById" text,
    "moderatedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Comment" OWNER TO postgres;

--
-- Name: Story; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Story" (
    id text NOT NULL,
    "authorId" text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    excerpt text,
    content text NOT NULL,
    "coverImageUrl" text,
    tags text[] DEFAULT ARRAY[]::text[],
    status public."StoryStatus" DEFAULT 'DRAFT'::public."StoryStatus" NOT NULL,
    "moderationStatus" public."ModerationStatus" DEFAULT 'PENDING'::public."ModerationStatus" NOT NULL,
    "moderationNote" text,
    "moderatedById" text,
    "moderatedAt" timestamp(3) without time zone,
    "viewCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "publishedAt" timestamp(3) without time zone
);


ALTER TABLE public."Story" OWNER TO postgres;

--
-- Name: StoryLike; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StoryLike" (
    id text NOT NULL,
    "storyId" text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StoryLike" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    "passwordHash" text NOT NULL,
    bio text,
    role public."UserRole" DEFAULT 'USER'::public."UserRole" NOT NULL,
    "isEmailVerified" boolean DEFAULT false NOT NULL,
    "emailVerificationTokenHash" text,
    "emailVerificationExpiresAt" timestamp(3) without time zone,
    "passwordResetTokenHash" text,
    "passwordResetExpiresAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Bookmark; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Bookmark" (id, "storyId", "userId", "createdAt") FROM stdin;
cmmdwlkge000cu28gums9g0ab	cmmdwlka10008u28g348kdpfg	cmmdwlj2x0006u28gwxwagi58	2026-03-05 20:13:55.791
\.


--
-- Data for Name: Comment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Story; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: StoryLike; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StoryLike" (id, "storyId", "userId", "createdAt") FROM stdin;
cmmdwn6qc000gu28ghs8999l1	cmmdwlka10008u28g348kdpfg	cmmdwlj2x0006u28gwxwagi58	2026-03-05 20:15:11.316
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
9641e437-8483-4aad-a9f5-515abf15ce37	5483aa95ba0356ef7baf48492436cd03ce3eebb3937ab684ed124136bdb6ee5f	2026-03-05 19:44:04.740876+00	20260305194404_init	\N	\N	2026-03-05 19:44:04.657295+00	1
\.


--
-- Name: Bookmark Bookmark_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Bookmark"
    ADD CONSTRAINT "Bookmark_pkey" PRIMARY KEY (id);


--
-- Name: Comment Comment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_pkey" PRIMARY KEY (id);


--
-- Name: StoryLike StoryLike_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StoryLike"
    ADD CONSTRAINT "StoryLike_pkey" PRIMARY KEY (id);


--
-- Name: Story Story_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Story"
    ADD CONSTRAINT "Story_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Bookmark_storyId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Bookmark_storyId_userId_key" ON public."Bookmark" USING btree ("storyId", "userId");


--
-- Name: Bookmark_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Bookmark_userId_createdAt_idx" ON public."Bookmark" USING btree ("userId", "createdAt");


--
-- Name: Comment_storyId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Comment_storyId_createdAt_idx" ON public."Comment" USING btree ("storyId", "createdAt");


--
-- Name: Comment_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Comment_userId_createdAt_idx" ON public."Comment" USING btree ("userId", "createdAt");


--
-- Name: StoryLike_storyId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "StoryLike_storyId_userId_key" ON public."StoryLike" USING btree ("storyId", "userId");


--
-- Name: StoryLike_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StoryLike_userId_createdAt_idx" ON public."StoryLike" USING btree ("userId", "createdAt");


--
-- Name: Story_authorId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Story_authorId_idx" ON public."Story" USING btree ("authorId");


--
-- Name: Story_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Story_createdAt_idx" ON public."Story" USING btree ("createdAt");


--
-- Name: Story_moderationStatus_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Story_moderationStatus_idx" ON public."Story" USING btree ("moderationStatus");


--
-- Name: Story_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Story_slug_key" ON public."Story" USING btree (slug);


--
-- Name: Story_status_publishedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Story_status_publishedAt_idx" ON public."Story" USING btree (status, "publishedAt");


--
-- Name: User_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_createdAt_idx" ON public."User" USING btree ("createdAt");


--
-- Name: User_emailVerificationTokenHash_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_emailVerificationTokenHash_key" ON public."User" USING btree ("emailVerificationTokenHash");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_passwordResetTokenHash_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_passwordResetTokenHash_key" ON public."User" USING btree ("passwordResetTokenHash");


--
-- Name: Bookmark Bookmark_storyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Bookmark"
    ADD CONSTRAINT "Bookmark_storyId_fkey" FOREIGN KEY ("storyId") REFERENCES public."Story"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Bookmark Bookmark_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Bookmark"
    ADD CONSTRAINT "Bookmark_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Comment Comment_moderatedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_moderatedById_fkey" FOREIGN KEY ("moderatedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Comment Comment_storyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_storyId_fkey" FOREIGN KEY ("storyId") REFERENCES public."Story"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Comment Comment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StoryLike StoryLike_storyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StoryLike"
    ADD CONSTRAINT "StoryLike_storyId_fkey" FOREIGN KEY ("storyId") REFERENCES public."Story"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StoryLike StoryLike_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StoryLike"
    ADD CONSTRAINT "StoryLike_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Story Story_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Story"
    ADD CONSTRAINT "Story_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Story Story_moderatedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Story"
    ADD CONSTRAINT "Story_moderatedById_fkey" FOREIGN KEY ("moderatedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict gj6T3nRdsonIhnh3NHL00bmleNe9MnEDvMNodJLM6s9R3U0qpqdUPVOR7xgjAKB

